﻿@page
@using reCAPTCHA.AspNetCore
@using reCAPTCHA.AspNetCore.Versions
@using Microsoft.Extensions.Options
@model IndexModel
@inject IOptions<RecaptchaSettings> RecaptchaSettings;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div class="container">
    <h2>Spam or not spam, that's the question</h2>
    
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Result @Model.Status</h3>
        
                <p class="card-text">@(Model.Message.IsSpam ? "Spam" : "Not spam")</p>
                <p class="card-text">@Model.Message.Text</p>
            </div>
        </div>

        <br /><br />
        <br /><br /> 

        <form method="post"> 
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title" >Message</h3>

                    <div class="form-group row">
                      <label>Message to validate or add</label>
                      <textarea  class="form-control" asp-for="Text" placeholder="Enter message to validate/add"></textarea>
                    </div>

                        <div class="form-group">
                            @(Html.Recaptcha<RecaptchaV2Checkbox>(RecaptchaSettings.Value))
                        </div>

                    <button asp-page-handler="IsSpam" type="submit" class="btn btn-primary">Check message</button>
                    <button asp-page-handler="AddSpam" type="submit" class="btn btn-primary">Add spam message</button>
                </div>
            </div>
        </form>
</div>